.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(20% - 20px);
        background-color: cornflowerblue;
    }

    .main-nav.collapsed{
        width: 7%;
    }

    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
}