<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <p>
      nav-menu works!
    </p>
    <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a [routerLink]='["/home"]'>
                <label>Home</label>
            </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/pagetwo"]'>
                <label>Nonexistent Page</label>
            </a>
        </li>
    </ul>
  </div>
</div>