﻿@model IEnumerable<ConferenceManagement.Models.Evaluation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h2>It's time for assignment!</h2>
<h5>Let's see the accepted papers</h5>
<p>
    @Html.ActionLink("See papers", "Papers")
</p>

<h2>Evaluations</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviewer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => ConferenceManagement.RuntimeObjects.DbInstance.GetDbInstance().getPaper(item.PaperId).Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ConferenceManagement.RuntimeObjects.DbInstance.GetDbInstance().getReviewer(item.ReviewerId).LastName)
            </td>
        </tr>
    }

</table>
