﻿@model ConferenceManagement.Models.Paper

@{
    ViewBag.Title = "Paper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paper</h2>

<div>
    <h4>Paper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Asign Paper", "Assign", new { id = Model.Id }) |
    @Html.ActionLink("Back to Papers", "Papers")
</p>
