﻿@model IEnumerable<ConferenceManagement.Models.Paper>

@{
    ViewBag.Title = "Papers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Papers that went through bidding</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Details", "Paper", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
