﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Conference Management official website</h1>
    <p class="lead">Choose your login form:</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Are you a Program Committee?</h2>
        <p>
            Start here
        </p>
        <p>@Html.ActionLink("Login", "Login", "PCLogIn")</p>
    </div>
    <div class="col-md-4">
        <h2>Are you an Author?</h2>
        <p>
            Start here
        </p>
        <p>@Html.ActionLink("Login", "Login", "AuthorLogin")</p>
    </div>
    <div class="col-md-4">
        <h2>Are you a Listener?</h2>
        <p>
            Start here
        </p>
        <p>@Html.ActionLink("Login", "Login", "ListenerLogin")</p>
    </div>
</div>