﻿@model IEnumerable<ConferenceManagement.Models.Abstract>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Abstracts</h2>

<p>
    @Html.ActionLink("Create New Abstract", "Create", "Abstract")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keywords)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Abstract",  new { id = item.Id }, null) 

            </td>
            <td>
                <input type="button" class="btn btn-info" value="Submit Proposal" onclick="location.href='@Url.Action("Submit",new { id = item.Id } )'" />
                <input type="button" class="btn btn-info" value="Create Paper" onclick="location.href='@Url.Action("Create", "Paper", new { id = item.Id }, null )'" />
            </td>
        </tr>
    }

</table>
