﻿@{
    ViewBag.Title = "BuyTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You succesfully bought a ticket to this conference!</h1>

<p>
    @Html.ActionLink("Back to Sessions", "Sessions")
</p>
