﻿@model ConferenceManagement.Models.Listener

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello Listener</h2>

<div>
    @Html.ActionLink("Go to Sessions", "Sessions")
</div>