﻿@model ConferenceManagement.Models.Session

@{

    ViewBag.Title = "Session";
    Layout = "~/Views/Shared/_Layout.cshtml";

    long id = (long)Char.GetNumericValue(Context.Request.Path.Last());
}

<h2>Session</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.SessionName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SessionName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ConferenceId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ConferenceId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SessionChairId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SessionChairId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SpeakerId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SpeakerId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RoomId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RoomId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Time)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Time)
    </dd>

</dl>

<div>
    <div>
        @Html.ActionLink("Buy ticket", "BuyTicket", "Listener", new { id }, null)
    </div>
    <div>
        @Html.ActionLink("Back to Sessions", "Sessions")
    </div>
</div>
