﻿@model IEnumerable<ConferenceManagement.Models.Session>

@{
    ViewBag.Title = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ConferenceManagement.Repository.DbControls dbControls = (ConferenceManagement.Repository.DbControls)ViewBag.DbControls;
}

<h2>Sessions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SessionName)
        </td>
  
        <td>
            @Html.ActionLink("Details", "OneSession", new { id=item.SessionId })
        </td>
    </tr>
}

</table>
