﻿@model ConferenceManagement.Models.Paper

@{
    ViewBag.Title = "Paper";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> evaluationItems = new List<SelectListItem>();
    evaluationItems.Add(new SelectListItem
    {
        Text = "Strong accept",
        Value = "Strong accept"
    });
    evaluationItems.Add(new SelectListItem
    {
        Text = "Accept",
        Value = "Accept",
        Selected = true
    });
    evaluationItems.Add(new SelectListItem
    {
        Text = "Weak accept",
        Value = "Weak accept"
    });
    evaluationItems.Add(new SelectListItem
    {
        Text = "Borderline",
        Value = "Borderline"
    });
    evaluationItems.Add(new SelectListItem
    {
        Text = "Weak reject",
        Value = "Weak reject"
    });
    evaluationItems.Add(new SelectListItem
    {
        Text = "Reject",
        Value = "Reject"
    });
    evaluationItems.Add(new SelectListItem
    {
        Text = "Strong reject",
        Value = "Strong reject"
    });
}

<h2>Paper</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Paper</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperUrl)
        </dt>

        <dd>
            <a href='@Html.DisplayFor(model => model.PaperUrl)' target="_blank"> View content </a>
        </dd>
    </dl>

    <div class="form-group">
        <label for="Mark" class="control-label col-md-2">Mark</label>
        <div class="col-md-10">
            @Html.DropDownList("Mark", evaluationItems, "-- Select Status --", new { name = "Mark", id = "markDropDown" })
        </div>
    </div>

    <div class="form-group">
        <label for="Recommendation" class="control-label col-md-2">Recommendations</label>
        <div class="col-md-10">
            <input type="text" name="Recommendation" id="recommendations" class="form-control text-box" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Review")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
