﻿@model IEnumerable<ConferenceManagement.Models.Paper>

@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string options = ViewBag.Options;
}

<h2>Review your assigned papers</h2>

<h3>Deadline for reviews:</h3>

@using (Html.BeginForm())
{
    <p>
        @Html.ActionLink("To be reviewed", "Review", "Reviewer", new { filterString = "" }, new { }) | 
        @Html.ActionLink("Reviewed", "Review", "Reviewer", new { filterString = "reviewed" }, new { })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink(options, "Paper", new { id = item.Id })
            </td>
        </tr>
    }
</table>
