﻿@model ConferenceManagement.Models.Abstract

@{
    ViewBag.Title = "Abstract";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> evaluationItems = new List<SelectListItem>();
    evaluationItems.Add(new SelectListItem
    {
        Text = "Please",
        Value = "Please"
    });
    evaluationItems.Add(new SelectListItem
    {
        Text = "Could",
        Value = "Could",
        Selected = true
    });
    evaluationItems.Add(new SelectListItem
    {
        Text = "Refuse",
        Value = "Refuse"
    });

}

<h2>Abstract</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Abstract</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Keywords)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Keywords)
            </dd>

        </dl>

        <div class="form-group">
            <label for="Bid" class="control-label col-md-2">Bid Evaluation</label>
            <div class="col-md-10">
                @Html.DropDownList("Bid", evaluationItems, "-- Select Evaluation --", new { name = "Bid", id = "bidDropDown" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                   <input type="submit" value="Bid Proposal" class="btn btn-default" />
            </div>
        </div>



    </div>
}
<div>
    @Html.ActionLink("Back to Proposals", "Proposals")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
