﻿@model IEnumerable<ConferenceManagement.Models.Abstract>

@{
    ViewBag.Title = "Abstracts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Abstracts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Abstract", new { id=item.Id }) 
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Bidding", "Bid")
</div>
