﻿@model IEnumerable<ConferenceManagement.Models.Bid>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>It's bidding time!</h1>

<h5 style="color:red">Deadline for bidding abstracts: </h5>


<h3>Bids: </h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AbstractPaper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramCommittee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => ConferenceManagement.RuntimeObjects.DbInstance.GetDbInstance().getAbstract(item.AbstractId).Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ConferenceManagement.RuntimeObjects.DbInstance.GetDbInstance().GetProgramCommittee(item.ProgramComitteeId).LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Go to Proposals", "Proposals")
</div>
