﻿@model IEnumerable<ConferenceManagement.Models.Proposal>

@{
    ViewBag.Title = "Proposals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proposals</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AbstractId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaInfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AbstractId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaInfo)
        </td>
        <td>
            @Html.ActionLink("Details", "Abstract", new {  id=item.AbstractId }) 
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Bids", "Index")
</div>
