﻿@model ConferenceManagement.Models.AuthorDeadlines

@{
    ViewBag.Title = "Deadlines";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ConferenceManagement.Models.AuthorDeadlines authorDeadlines = ViewBag.AuthorDeadlines;
    DateTime AbstractDeadline = authorDeadlines.AbstractDeadline;
    DateTime PaperDeadline = authorDeadlines.PaperDeadline;

    ConferenceManagement.Models.EvaluationDeadlines evaluationDeadlines = ViewBag.EvaluationDeadlines;
    DateTime BiddingDeadline = evaluationDeadlines.BiddingDeadline;
    DateTime ReviewDeadline = evaluationDeadlines.ReviewDeadline;
}

<h2>Deadlines</h2>

<div>
    <hr />
    <h4>AuthorDeadlines</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Abstract Deadline")
        </dt>

        <dd>
            @Html.Raw(AbstractDeadline.Date)
        </dd>

        <dt>
            @Html.Raw("Paper Deadline")
        </dt>

        <dd>
            @Html.Raw(PaperDeadline.Date)
        </dd>

        <dd>
            @Html.ActionLink("Update", "AuthorDeadlines", null, null)
        </dd>
    </dl>

    <hr />
    <h4>EvaluationDeadlines</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Bidding Deadline")
        </dt>

        <dd>
            @Html.Raw(BiddingDeadline.Date)
        </dd>

        <dt>
            @Html.Raw("Review Deadline")
        </dt>

        <dd>
            @Html.Raw(ReviewDeadline.Date)
        </dd>
        <dd>
            @Html.ActionLink("Update", "EvaluationDeadlines", null, null)
        </dd>
    </dl>
</div>
