﻿@model IEnumerable<ConferenceManagement.Models.Conference>

@{
    ViewBag.Title = "Conference Management Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ConferenceManagement.Models.Conference currentConference = ViewBag.CurrentConference;
}

<h2>Conference Management Page</h2>

<div>
    <hr />
    <h4>Current conference</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Conference ID")
        </dt>

        <dd>
            @Html.Raw(currentConference.ConfId)
        </dd>

        <dt>
            @Html.Raw("Name")
        </dt>

        <dd>
            @Html.Raw(currentConference.Name)
        </dd>

        <dt>
            @Html.Raw("Date")
        </dt>

        <dd>
            @Html.Raw(currentConference.DateTime)
        </dd>

        <dt>
            @Html.Raw("Secret Key")
        </dt>

        <dd>
            @Html.Raw(currentConference.SecretKey)
        </dd>

        <dt>
            @Html.Raw("Deadlines")
        </dt>

        <dd>
            @Html.ActionLink("See deadlines", "Deadlines", null, null)
        </dd>
    </dl>
</div>

<div id="controls">
    @Html.ActionLink("Add a new conference", "Create", null, new { @class = "btn btn-success" })
</div>

<hr />
<h4>All conferences</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConfId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecretKey)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecretKey)
            </td>
            <td>
                @Ajax.ActionLink("Select as current conference", "ChangeCurrentConference", "Conference", new { id = item.ConfId }, new AjaxOptions { HttpMethod = "POST" }, new { })
            </td>
        </tr>
    }

</table>
