<div class='container-fluid'>
    <div class='row col-md-12'>
        <div class='col-md-2'>
            <app-nav-menu></app-nav-menu>
        </div>

        <div class='content body-content navbar-expanded'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>