﻿@model ConferenceManagement.Models.Evaluation

@{
    ViewBag.Title = "Evaluation";
    ConferenceManagement.Models.Paper paper = (ConferenceManagement.Models.Paper)ViewBag.Paper;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Evaluation for Paper "@Html.Raw(paper.Title)"</h2>

<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Title")
        </dt>

        <dd>
            @Html.Raw(paper.Title)
        </dd>

        <dt>
            @Html.Raw("Content")
        </dt>

        <dd>
            <a href='@Html.Raw(paper.PaperUrl)' target="_blank"> View content </a>
        </dd>

        <dt>
            @Html.Raw("Current status")
        </dt>

        <dd>
            @Html.Raw(paper.Status)
        </dd>

        <dt>
            @Html.Raw("The mark that you gave")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recommendation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recommendation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("See all reviewes of this paper", "Paper_all", "Evaluation", new { id = Model.Paper.Id }, new { }) |
    @Html.ActionLink("Back to list", "Review", "Reviewer", new { filterString = "reviewed" }, new { })
</p>
