﻿@model IEnumerable<ConferenceManagement.Models.Evaluation>

@{
    ViewBag.Title = "Paper_all";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ConferenceManagement.Models.Paper paper = (ConferenceManagement.Models.Paper)ViewBag.Paper;
}

<h2>All evaluations for paper @Html.ActionLink(paper.Title, "Paper", "Reviewer", new { id = paper.Id }, new { })</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recommendation)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mark.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recommendation)
        </td>
    </tr>
}

</table>
